* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color for the entire page */

body {
    background-color: #d9dcd6;
}

/* Set general characteristics for header area */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    overflow: auto;
}

/* Set display and font size setting overrides for Horiseon logo, excluding the "seo" */

h1 {
    display: inline-block;
    font-size: 48px;
}

/* Set override for color of the "seo" in the Horiseon logo */

#seo {
    color: #d9dcd6;
}

/* Set display and font for Nav bar  */

nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Set display settings and font size for the list in the Nav bar */

li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 15px;
}

/* Set the color and display for the text of the buttons in the Nav bar */

a {
    color: #ffffff;
    text-decoration: none;
}

/* Set general settings for the p-tags, excluding the one in the copyright note */

.descriptions {
    font-size: 16px;
    text-align: left;
}

/* Settings for the background image at the top of the page */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Settings for the two images floated to the left within the section tag */

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Settings for the two images floated to the right within the section tag */

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* General settings for items within the section tag */

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines general settings for the 3 divs with the class "tabs" within the section tag */

.tabs {
    margin-bottom: 20px;
    padding: 50px;
    height: 320px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    clear: both;
    overflow: auto;
}

/* Defintes the settings for the h2 tags within the section tag */

.sub-heading {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Settings for the aside tag, on the right side of the page*/

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Settings for the three "benefit" areas within the aside */

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/* Defines the size and display setting for the images within the aside section */

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* General settings for the footer section */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}
